<strong>Olá, {{ studentName }}</strong>
<p>
  A sua Matrícula foi efetuda com sucesso<br />
  <strong>Plano selecionado: </strong> {{ planName }} <br />
  <strong>Valor: </strong> {{ planPrice }} <br />
  <strong>Data Início: </strong> {{ initialDate }} <br />
  <strong>Data término: </strong> {{ finalDate }}
</p>
